.git
.env
.env.*
output
data
backups
!!!sensitive
**/!!!sensitive
*.docx
!templates/act/акт_рабочий.docx
*.doc
*.xlsx
*.xls
*.pdf
*.dump
*.backup
*.log
*.exe
*.test
coverage.out
interface-reference.html
